@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}

/* sidebar styling */

.sidebarContainer
{
  
 
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #212936;
    /* border-radius: 10px; */
}
.sidebarContainer button{
  background-color: transparent;
  cursor: pointer;
    text-align: left;
    margin: 10px 10px;
    width: 220px;
    font-size: 15px;
    padding: 15px 32px;
    /* text-align: center; */
    border: transparent;
    color: white;
    border-radius: 12px;
    transition-duration: 0.4s;
    
    
}
button:hover {
    background-color:#394050; 
    color: white;
}

#active.sidebarContainer button{
  background-color:#394050; 
    color: white;
}


/* navbar styling */

nav{
  height: 10vh;
  width: 100vw;
  background-color: #212936;
  display: grid;
  grid-template-columns: 20% 80%;
}
nav h1{
  color: white;
  padding: 20px 20px;
  font-size: 30px;
  
}
.navProfile > .icons {
  display: flex;
  float: right;
  background-size: 25px;
  width: 25px;
  height: 25px;
  padding: 20px 20px;
  cursor: pointer;
}

/* body */
.bodyContainer
{
    display: grid;
    grid-template-columns: 15% 85%;
}

/* content */
.contentContainer
{
  height: 90vh;
  overflow-y: scroll;
  
  /* Full height */
 
  /* background-color: #121826; */
  /* background-image: url("blue.jpg"); */
  background-color: 
  
  #121826;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   
}

/* table styling */

th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #212936;
  color: #ccc;
}
tr:nth-child(odd){background-color: #394050;}
/* tr:nth-child(even){background-color: #212936;} */
/* tr:hover {background-color: #ddd;} */

.tableContainer .center{
  margin-left: auto;
  margin-right: auto;
}
table{
  width: 98%;
  border-radius: 9px;
  border:none;
  background-color: #212936;
  color: white;
  /* box-shadow: 0px 10px 10px 10px rgba(243, 241, 241, 0.1); */
  /* background-image: url("bg12.png"); */
}
table tr{
  border: 5px;
}
td{
  padding: 10px 10px;
  text-align: center;
}

table tr:hover {
  box-shadow: 3px 9px 4px -6px rgb(76, 82, 86);
  
 }
.tableContainer button{
  cursor: pointer;
  width: 65px;
  height:30px;
  margin-right: 2px;
  border-radius: 5px;
  background-color:#636aea;
  color: white;
}
.addEmp{
  cursor: pointer;
  width: 200px;
  height:45px;
  margin: 25px;
  margin-left: 12px;
  font-weight: bold;
  border-radius: 5px;
  background-color:#636aea;
  color: white;
}
.addEmp:hover{
  background-color:#212936;
}

/* view */

.details p{
  margin-top: 10px;
  text-align: center;
  color:white;
}
.det{
  cursor: pointer;
  width: 100px;
  height:45px;
  margin: 15px 39%;
  border-radius: 5px;
  background-color:#636aea;
  color: white;
  text-align: center;
}

.card {
  /* border: 1px solid #7e7979; */
  border-radius: 5px;
  padding: 30px;
  width: 500px;
  margin: 0 auto;
  box-shadow: 10px 10px 10px 10px rgba(1,2,2,0.1);
  background-color: #212936; 

  margin-top: 3%;
}
.card h2{
  text-align: center;
  font-size: 20pxpx;
  margin-bottom: 15px;
  color: white;
}

/* add forms*/

form {
  display: flex;
  flex-direction: column;
  color: white;
}

form div {
  margin-bottom: 10px;
}

label {
  font-weight:normal;
  font-size: 13px;
  margin-right: 10px;
 
  
}

input {
  padding: 5px;
  border: 2px #0c0ce0;
  background-color: #121826;
  border-radius: 5px;
  color: white;
  width: 100%;
  margin-top: 7px;
  box-sizing: border-box;
}

select {
  padding: 5px;
  border: 2px #0c0ce0;
  background-color: #121826;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.add{
  cursor: pointer;
  width: 100px;
  height:45px;
  margin: 15px 15%;
  border-radius: 5px;
  background-color:#636aea;
  color: white;
  
}


textarea{
  margin: 7px auto;
  background-color: #121826;
  color: white;
}

.xx{
  margin: 30px 45px;
}
.contentContainerLogin{
  height: 90vh;
  overflow: hidden;
  background-image: url("loginBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
/*login*/
.cardLogin{
border-radius: 5px;
padding: 20px;
width: 400px;
margin: 100% auto;
box-shadow: 10px 10px 10px 10px rgba(243, 241, 241, 0.1);
/* background-color: rgb(154, 189, 203); */
color: white;
margin-top: 3%;
/* opacity: 10;
text-decoration-color: #ccc; */

}
.cardLogin h2{
text-align: center;
}
.login{
cursor: pointer;
width: 100px;
height:45px;
margin: 15px 35%;
border-radius: 5px;
background-color:#636aea;
color: white;
}

.tableContainer .update_btn{
  cursor: pointer;
  width: 65px;
  height:30px;
  border-radius: 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color:#636aea;
  color: white;
}
.tableContainer .delete_btn{
  cursor: pointer;
  width: 65px;
  height:30px;
  border-radius: 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color:#dc3545;
  color: white;
}
.tableContainer .view_btn{
  cursor: pointer;
  width: 65px;
  height:30px;
  border-radius: 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color:#636aea;
  color: white;
}


::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.cardLogin img{
  margin-left: 5%;
}